@use "./variables";

body {
  background: variables.$white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  color: variables.$black;
  margin: 0;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
}
